/* wide.css */

/** override narrow layouts **/

/* persistent */

.row:not(.wide),
.wrap:not(.wide),
.start:not(.wide),
.start:not(.wide) { -webkit-flex-flow: column wrap;
                            flex-flow: column wrap; }

/* row */

body > div.row, main.row {
	display: -webkit-flex; display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	-webkit-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}
body > div.row > *, main.row > * {
	-webkit-flex: 1;
	        flex: 1;
}

/* one column */

body > div.one.left > *:nth-child(n), main.one.left > *:nth-child(n),
body > div.one.right > *:nth-child(n), main.one.right > *:nth-child(n) { min-width: unset; min-width: auto; min-width: initial; }

/** local **/

.one.ninth.local.nav > nav:last-child { -webkit-flex-basis: calc(100% / 9);
                                                flex-basis: calc(100% / 9); }

.one.eighth.local.nav > nav:last-child { -webkit-flex-basis: 12.5%;
                                                 flex-basis: 12.5%; }

.one.seventh.local.nav > nav:last-child { -webkit-flex-basis: calc(100% / 7);
                                                  flex-basis: calc(100% / 7); }

.one.sixth.local.nav > nav:last-child { -webkit-flex-basis: calc(100% / 6);
                                                flex-basis: calc(100% / 6); }

.one.fifth.local.nav > nav:last-child { -webkit-flex-basis: 20%;
                                                flex-basis: 20%; }

.one.fourth.local.nav > nav:last-child { -webkit-flex-basis: 25%;
                                                 flex-basis: 25%; }

.one.third.local.nav > nav:last-child { -webkit-flex-basis: calc(100% / 3);
                                                flex-basis: calc(100% / 3); }

.one.half.local.nav > nav:last-child { -webkit-flex-basis: 50%;
                                               flex-basis: 50%; }